@model wmbaApp.ViewModels.PlayerLinUpVM


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            @* <div class="form-group">
                <label class="control-label">Game</label>
                <select asp-for="GameId" id="gamid"class="form-control" asp-items="ViewBag.games">
                    <option value="">Select a Game</option>
                </select>
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div> *@
            
                <div class="form-group">
                <input type="hidden" asp-for="GameId" value="@ViewBag.gameid" />
                    <label class="control-label">@ViewBag.hometeamname players</label>
                <input type="hidden" asp-for="TeamId" value="@ViewBag.hometeamId" />
                <select asp-for="PlayersIds" id="PlayerID" class="form-control" multiple="multiple" asp-items="ViewBag.Hometeamplayers">
                    <option disabled selected>Select players</option>
                    </select>
                    <span asp-validation-for="PlayersIds" class="text-danger"></span>
                </div>
           
            <div class="form-group">
                <label class="control-label">@ViewBag.awayteamname players</label>
                <input type="hidden" asp-for="CompetitorTeamId" value="@ViewBag.awayteamId" />
                <select  asp-for="CompetitorTeamPlayerIds" id="CompTeamID" class="form-control" multiple="multiple"  asp-items="ViewBag.awayTeamplayers">
                    <option disabled selected>Select players</option>
                </select>
                <span asp-validation-for="CompetitorTeamId" class="text-danger"></span>
            </div>
            
           
            <br />
            <div class="form-group">
               
                <input type="submit" name="submitButton" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        GenerateContextHelp(["<p>This page lets you create a team.</p>",
            "<p>Enter valid information into each field and click the Create button to save your changes.</p>",
            "<p>Click the Back to Teams list button to go back to the teams list.</p>"]);
    </script>

    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!-- Added CDN link for Bootstrap Multiselect CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" type="text/css" />
    <!-- Added CDN link for Bootstrap Multiselect JS -->
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
 *@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!-- Added CDN link for Bootstrap Multiselect CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" type="text/css" />
    <!-- Added CDN link for Bootstrap Multiselect JS -->
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>

    <script>
        $(document).ready(function () {
            $('#PlayerID, #CompTeamID').multiselect({
                includeSelectAllOption: true
            });
        });
    </script>
    <script>
        // $("#gamid").change(function () {

        //     $("#TeamID").empty();
        //     $("#TeamID").append("<option>Choose Team</option>");

        //     var gamid = $("#gamid").val();

        //     $.ajax({

        //         type: "POST",
        //         url: "/PlayersLineUp/GetTeamsByGameId",
        //         data: { gameid: gamid },
        //         success: function (res) {
        //             console.log(res);
        //             $.each(res, function (i, e) {
        //                 console.log(e);

        //             });

        //         }

        //     });

        // });

        // $("#TeamID").change(function () {

        //     $("#PlayerID").empty();
        //     $("#PlayerID").append("<option>Choose Players</option>");

        //     var TeamId = $("#TeamID").val();

        //     $.ajax({

        //         type: "POST",
        //         url: "/PlayersLineUp/GetPlayerByTeamId",
        //         data: { teamId: TeamId },
        //         success: function (res) {
        //             console.log(res);
        //             $.each(res, function (i, e) {
        //                 console.log(e);
        //                 $("#PlayerID").append("<option value='" + e.id + "'>" + e.fullName + "</option>");

        //             });

        //         }

        //     });

        // });


        // $("#gamid").change(function () {

        //     $("#CompTeamID").empty();
        //     $("#CompTeamID").append("<option>Choose Compatitor</option>");

        //     var gamid = $("#gamid").val();

        //     $.ajax({

        //         type: "POST",
        //         url: "/PlayersLineUp/GetComptTeamsByGameId",
        //         data: { gameid: gamidgamid },
        //         success: function (res) {
        //             console.log(res);
        //             $.each(res, function (i, e) {
        //                 console.log(e);
        //                 $("#CompTeamID").append("<option value='" + e.id + "'>" + e.tmname + "</option>");

        //             });

        //         }

        //     });

        // });


        // $("#CompTeamID").change(function () {

        //     $("#CompPlayerID").empty();
        //     $("#CompPlayerID").append("<option>Choose Players</option>");

        //     var CompTeamId = $("#CompTeamID").val();

        //     $.ajax({

        //         type: "POST",
        //         url: "/PlayersLineUp/GetPlayerByCmpatetorTeamId",
        //         data: { Compteamid: CompTeamId },
        //         success: function (res) {
        //             console.log(res);
        //             $.each(res, function (i, e) {
        //                 console.log(e);
        //                 $("#CompPlayerID").append("<option value='" + e.id + "'>" + e.fullName + "</option>");

        //             });

        //         }

        //     });

        // });
        

    </script>
}
