
@model IEnumerable<wmbaApp.Models.PlayersLineUp>

<h2>Players Line Up</h2>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button>
        <br />
        <div class="collapse   @*  @ViewData["ShowFilter"]" *@ id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Filter by player Line up:</label>
                        @* @Html.DropDownList("ID", null, "GameLocation", htmlAttributes: new { @class = "form-control" })  *@
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Search play Line:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" }) 
                    </div>
                    <div class="col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>

                <style>
                    .clickable-header {
                        cursor: pointer;
                        padding: 8px 13px;
                        background-color: #001F3F;
                        color: #fff;
                        border: 1px solid #001F3F;
                        border-radius: 5px;
                        display: inline-block;
                    }

                    .hover:hover {
                        background-color: #4CBB17;
                        border-color: #001F3F;
                    }
                </style>
                @* <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Players LineUp Name" class="btn btn-link hover" data-bs-toggle="tooltip" title="Sort Start Time" />
                </th>
 *@
                <th class="d-none d-lg-table-cell">
                    <input type="submit" name="actionButton" value="Game Location" class="btn btn-link hover" data-bs-toggle="tooltip" title="Sort End Time" />
                </th>

                <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Team " class="btn btn-link hover" data-bs-toggle="tooltip" title="Sort Team" />
                </th>

                <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Player" class="btn btn-link hover" data-bs-toggle="tooltip" title="Sort Team" />
                </th>
                <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Compatitor Team Name" class="btn btn-link hover" data-bs-toggle="tooltip" title="Sort Team" />
                </th>

                <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Compatitor Players" class="btn btn-link hover" data-bs-toggle="tooltip" title="Sort Team" />
                </th>
               @*  <th style="min-width:120px">
                    <a asp-action="Create" class="btn btn-sm btn-outline-success" role="button" data-bs-toggle="tooltip" title="Create a New Player Line Up">
                        <strong>&#x270D; Create Player Line Up</strong>
                    </a>
                </th> *@
            </tr>
        </thead>
    <tbody>
            @foreach (var playersLineUp in Model)
            {
                <tr>
                   
                    <td>@playersLineUp.Game.GameLocation</td>
                    <td>@playersLineUp.Team.TmName</td>
                    <td>
                        @foreach (var player in playersLineUp.Players)
                        {
                            <span>@player.PlyrFirstName</span>
                            <span>, </span>
                        }
                    </td>
                    <td>@playersLineUp.CompetitorTeam.TmName</td>
                    <td>
                        @foreach (var player in playersLineUp.CompetatorPlayers)
                        {
                            <span>@player.PlyrFirstName</span>
                            <span>, </span>
                        }
                    </td>
                    <td>
                       @*  <a asp-action="Edit" asp-route-id="@playersLineUp.Id" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            &#x270E;
                        </a> *@
                        <a asp-controller="PlayersLineUp" asp-action="Details" asp-route-id="@playersLineUp.Id" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            &#x1F50E;
                        </a>
                       @*  <a asp-controller="PlayersLineUp" asp-action="Delete" asp-route-id="@playersLineUp.Id" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Delete">
                            &#x274C;
                        </a> *@
                    </td>
                </tr>
            }
      

    </tbody>
</table>
</form>